{%extends 'user/layout.html'%}

{%block isi%}
<div class="container mt-5">
    <h2>Data Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <th scope="row">1</th>
                <td>Farjehan Alaraf</td>
                <td>22</td>
                <td>Farjehanalaraf02@gmail.com</td>
            </tr>
           
        </tbody>
    </table>
</div>
{%endblock%}